body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: source-sans-pro, sans-serif;
}
body {
    font-size: 1em;
    background: #fefefe;
    color: #444;
}
.box {
    margin: 0.3em;
    padding: 1em;
    color: #fff;
    min-height: 7em;
    box-shadow: 1px 1px 3px #ccc;
}
.content_box {
    margin: 0.3em;
}
#content {
    margin: 3.2em;
}
#content ul {
    list-style: none;
}
#content ul>li>a {
    color: #444;
}
#content ul>li {
    background: #eee;
    box-shadow: 1px 1px 3px #ccc;
    padding: 0.3em;
    margin: 0px 0px 7px -40px;
}
input {
    margin: 0.3em 0 0.3em 0;
    border: 1px solid #ccc;
}
#menu {
    background: #222;
    box-shadow: 1px 1px 20px -2px #ccc;
}
.code {
    padding: 0.3em;
    margin-bottom: 0.3em;
    background: #eee;
    box-shadow: 1px 1px 3px #ccc;
}
code {
    white-space: pre-wrap;
}
.left {
}
.left>form {
    float: left;
}
.left>form>input {
    border: none;
    background: none;
    text-decoration: underline;
}
.right {
    padding: 0;
}
.right>.code {
    white-space: pre-wrap;
}
.right>.output {
    color: #d00;
    margin: 0.3em;
    white-space: pre-wrap;
}
/* colors */
.analytics {
    color: #60c52d;
}
.processing {
    color: #ffb400;
}
.home {
    color: #d00;
}
.data {
    color: #00bfff;
}
.bggreen {
    background: #60c52d;
}
.bgblue {
    background: #00bfff;
}
.bgyellow {
    background: #ffb400;
}
/* fonts */
h1, h2 {
    line-height: 1em;
    font-weight: normal;
    text-transform: capitalize;
}
h2>a {
    color: #fff;
    text-decoration: none;
}
h2>a:hover {
    color: #444;
}
a {
    text-decoration: none;
}