body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: source-sans-pro, sans-serif;
}
body {
    font-size: 1em;
    background: #fefefe;
    color: #444;
}
#layout {
    padding-left: 150px;
}
#menu {
    margin-left: -150px; /* this should be "#menu" width */
    width: 150px;
    position: fixed;
    top: 0;
    left: 150px; /* this should be "#menu" width */
    bottom: 0;
    overflow-y: auto;
    background: #222;
    box-shadow: 1px 1px 20px -2px #ccc;
}
.menu-link {
    display: none;
    top: 0;
    left: 150px;
    background: #222;
    font-size: 1.1em;
    color: #fff;
    padding: 0.3em;
    z-index: 1;
}
#menu .pure-menu, #menu .pure-menu ul {
    border: none;
    background: transparent;
}
#menu a:hover {
    background: #444;
}
#content {
    margin: 2.4em;
}
#content ul {
    list-style: none;
}
#content ul>li>a {
    color: #444;
}
#content ul>li {
    background: #eee;
    box-shadow: 1px 1px 3px #ccc;
    padding: 0.3em;
    margin: 0px 0px 7px -40px;
}
input {
    margin: 0.3em 0 0.3em 0;
    border: 1px solid #ccc;
}
.code {
    padding: 0.3em;
    margin-bottom: 0.3em;
    background: #eee;
    box-shadow: 1px 1px 3px #ccc;
}
code {
    font-size: 0.9em;
    white-space: pre-wrap;
}
.left {
}
.left>form {
    float: left;
}
.left>form>input {
    border: none;
    background: none;
    text-decoration: underline;
}
.right {
    padding: 0;
}
.right>.code {
    white-space: pre-wrap;
}
.right>.output {
    color: #d00;
    margin: 0.3em;
    white-space: pre-wrap;
}
form {
    font-size: 0.8em;
}
.box {
    margin: 0.3em;
    padding: 1em;
    color: #fff;
    min-height: 7em;
    box-shadow: 1px 1px 3px #ccc;
}
.content_box {
    margin: 0.3em;
}
/* colors */
.analytics {
    color: #60c52d;
}
.processing {
    color: #ffb400;
}
.home {
    color: #d00;
}
.data {
    color: #00bfff;
}
.bggreen {
    background: #60c52d;
}
.bgblue {
    background: #00bfff;
}
.bgyellow {
    background: #ffb400;
}
/* fonts */
h1, h2 {
    line-height: 1em;
    font-weight: normal;
    text-transform: capitalize;
}
h2>a {
    color: #fff;
    text-decoration: none;
}
h2>a:hover {
    color: #444;
}
a {
    text-decoration: none;
}
/* for small screens */
@media (max-width: 767px) {
    .header {
        text-align: left;
    }
    #layout {
        position: relative;
        padding-left: 0;
    }
    #layout.active {
        position: relative;
        left: 150px;
    }
    #layout.active #menu {
        left: 150px;
        width: 150px;
    }
    #menu {
        left: 0;
    }
    .menu-link {
        position: fixed;
        left: 0;
        display: block;
    }
    #layout.active .menu-link {
        left: 150px;
    }
}