body {
    font-family: source-sans-pro, sans-serif;
    font-size: 1em;
    color: #444;
    background: #fefefe;
    margin: 0;
}
.content {
    padding: 0.7em;
}
.centercontent {
    width: 100%;
    height: 100%;
    clear: both;
    position: relative;
}
.abscenter {
    height: 50%;
    width: 60%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.divboxes {
    display: table;
}
.cell {
    display: table-cell;
    padding: 1em;
    width: 300px;
    box-shadow: 10px 10px 20px #ccc;
}
.sep {
    display: table-cell;
    width: 1em;
}
.header {
    background: #444;
    overflow: auto;
    box-shadow: 0 10px 20px -2px #ccc;
}
.code {
    background: #eee;
    padding: 0.5em;
}
code {
    white-space: pre-wrap;
}
/* menu */
.menu {
    padding-left: 0.7em;
}
.menu ul {
    list-style-type: none;
}
.menu li {
    display: inline;
    padding: 0.3em;
}
.menu li a {
    color: #fff;
    text-decoration: none;
}
/* code entries */
.entry {
    margin: 5px;
}
.right {
    margin-left: 60px;
    border-left: 1px solid #ccc;
}
.right>.code {
    background: #eee;
    padding: 0.5em;
    white-space: pre-wrap;
}
.right>p {
    padding: 0.5em;
}
.right>.output {
    padding: 0.5em;
    font-size: 1em;
    color: #d00;
    white-space: pre-wrap;
}
.right>form {
    background: #eee;
    padding: 0.5em;
}
.left {
    width: 60px;
}
.left>form>input {
    float: left;
    border: none;
    background: none;
    text-decoration: underline;
    font-size: 0.7em;
}
/* fonts */
h1, h2 {
    line-height: 0.5em;
    font-weight: normal;
}
h1 {
    font-size: 4vw;
    color: #60c52d;
}
h2 {
    font-size: 4vw;
    color: #00bfff;
}
.header a {
    color: #60c52d;
    text-decoration: none;
}
.cell a {
    font-size: 2vw;
    color: #fff;
    text-decoration: none;
}.cell a:hover {
    color: #444;
}
.cell p {
    color: #fff;
}
/* colors */
.bggreen {
    background: #60c52d;
}
.bgblue {
    background: #00bfff;
}
.bgyellow {
    background: #ffb400;
}
.bgred {
    background: #d00;
}
