<div class="pure-g-r">
    <div class="pure-u-1">
        <h1 class="data">Stream: {{iden}}</h1>
    </div>
</div>
<div class="pure-g-r">
    <div class="pure-u-1">
        <form action="/data/stream/{{iden}}/delete" method="post">
            <input type="submit" value="Delete" onClick="return confirm('Sure?')"/>
        </form>
        <p>
            <strong>Connected:</strong> {{uri}}
            <br />
            <strong>Queue:</strong> {{queue}}
            <br />
            Number of messages received in the last minute: {{val}}
        </p>
        % for item in msgs:
        <div class="outputs">
            <div class="code">
                <code>{{item}}</code>
            </div>
        </div>
        % end
    </div>
</div>
<div class="pure-g-r">
    <div class="pure-u-1">
        <p><small>Welcome user: {{uid}}</small></p>
    </div>
</div>
%rebase base.tmpl title='Suricate - Data Stream'