<div class="pure-g-r">
    <div class="pure-u-1">
        <h1 class="data">Objects</h1>
    </div>
</div>
<div class="pure-g-r">
    % i = 0
    % for item in data_objs:
        <div class="pure-u-1-4">
            <div class="tile databorder">
                <h3><a href="/data/object/{{item['iden']}}">{{item['iden']}}</a></h3>
                <form action="data_objects/{{item['iden']}}/tag" method="post">
                    <input class="txtinput" type="text" name="tags" value="{{', '.join(item['meta']['tags'])}}"/>
                </form>
                <form action="data/object/{{item['iden']}}/delete" method="post">
                    <input type="submit" value="Delete" onClick="return confirm('Sure?')"/>
                </form>
                <form action="data/object/{{item['iden']}}/download" method="get">
                    <input type="submit" value="Download"/>
                </form>
            </div>
        </div>
        % i += 1
        % if i > 3:
        % i = 0
</div>
<div class="pure-g-r">
        % end
    % end
</div>
<div class="pure-g-r">
    <div class="pure-u-1">
        <p>
            <form action="/data/object/new" method="post" enctype="multipart/form-data">
                Select a file: <input type="file" name="upload" />
                <input type="submit" value="Start upload" />
            </form>
        </p>
    </div>
</div>
<div class="pure-g-r">
    <div class="pure-u-1">
        <h1 class="data">Streams</h1>
    </div>
</div>
<div class="pure-g-r">
    % i = 0
    % for item in data_streams:
        <div class="pure-u-1-4">
            <div class="tile databorder">
                <h3><a href="/data/stream/{{item['iden']}}">{{item['iden']}}</a></h3>
                <form action="data_streams/{{item['iden']}}/tag" method="post">
                    <input class="txtinput" type="text" name="tags" value="{{', '.join(item['meta']['tags'])}}"/>
                </form>
                <form action="data/stream/{{item['iden']}}/delete" method="post">
                    <input type="submit" value="Delete" onClick="return confirm('Sure?')"/>
                </form>
            </div>
        </div>
        % i += 1
        % if i > 3:
        % i = 0
</div>
<div class="pure-g-r">
        % end
    % end
</div>
<div class="pure-g-r">
    <div class="pure-u-1">
        <p>
            <form action="/data/stream/new" method="post" enctype="multipart/form-data">
                URI: <input type="text" name="uri">
                Queue: <input type="text" name="queue">
                <input type="submit" value="New" />
            </form>
        </p>
    </div>
</div>
<div class="pure-g-r">
    <div class="pure-u-1">
        <p><small>Welcome user: {{uid}}</small></p>
    </div>
</div>
%rebase base.tmpl title='Suricate - Data'