<div class="pure-g-r">
    <div class="pure-u-1-12">
        <h1 class="data">Objects</h1>
    </div>
</div>
<table class="mytable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Meta</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
    % for item in data_objs:
    <tr class="databorder">
        <td>
            <a href="/data/object/{{item['iden']}}">{{item['iden']}}</a>
        </td>
        <td>
            <form action="data_objects/{{item['iden']}}/tag" method="post">
                <label for="tags">Tags:</label>
                <input type="text" name="tags" value="{{', '.join(item['meta']['tags'])}}"/>
            </form>
        </td>
        <td>
            <form action="data/object/{{item['iden']}}/delete" method="post">
                <input type="submit" value="Delete" onClick="return confirm('Sure?')"/>
            </form>
        </td>
        <td>
            <form action="data/object/{{item['iden']}}/download" method="get">
                <input type="submit" value="Download"/>
            </form>
        </td>
    </tr>
    % end
    </tbody>
</table>
<div class="pure-g-r">
    <div class="pure-u-1">
        <p>
            <form action="/data/object/new" method="post" enctype="multipart/form-data">
                Select a file: <input type="file" name="upload" />
                <input type="submit" value="Start upload" />
            </form>
        </p>
    </div>
</div>
<div class="pure-g-r">
    <div class="pure-u-1-12">
        <h1 class="data">Streams</h1>
    </div>
</div>
<table class="mytable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Meta</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    % for item in data_streams:
        <tr class="databorder">
            <td>
                <a href="/data/stream/{{item['iden']}}">{{item['iden']}}</a>
            </td>
            <td>
                <form action="data_streams/{{item['iden']}}/tag" method="post">
                    <label for="tags">Tags:</label>
                    <input class="txtinput" type="text" name="tags" value="{{', '.join(item['meta']['tags'])}}"/>
                </form>
            </td>
            <td>
                <form action="data/stream/{{item['iden']}}/delete" method="post">
                    <input type="submit" value="Delete" onClick="return confirm('Sure?')"/>
                </form>
            </td>
        </tr>
    % end
    </tbody>
</table>
<div class="pure-g-r">
    <div class="pure-u-1">
        <p>
            <form action="/data/stream/new" method="post" enctype="multipart/form-data">
                URI: <input type="text" name="uri">
                Queue: <input type="text" name="queue">
                <input type="submit" value="New" />
            </form>
        </p>
    </div>
</div>
<div class="pure-g-r">
    <div class="pure-u-1">
        <p><small>Welcome user: {{uid}}</small></p>
    </div>
</div>
%rebase base.tmpl title='Suricate - Data'