<div class="pure-g-r">
    <div class="pure-u-1">
        <h1 class="analytics">
            <a href="/analytics">Analytics</a> / {{proj_name}}
        </h1>
    </div>
</div>
<table class="mytable">
    <thead>
        <tr>
            <th>Name</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
    % for iden in notebooks:
        <tr>
            <td>
                <a href="/analytics/{{proj_name}}/{{iden}}">{{iden}}</a>
            </td>
            <td>
                <form action="/analytics/{{proj_name}}/{{iden}}/delete" method="post">
                    <input type="submit" value="Delete" onClick="return confirm('Sure?')"/>
                </form>
            </td>
            <td>
                <form action="/analytics/{{proj_name}}/{{iden}}/download" method="post">
                    <input type="submit" value="Download" />
                </form>
            </td>
        </tr>
    % end
    </tbody>
</table>
<div class="pure-g-r">
    <div class="pure-u-1">
        <p>
            <form action="/analytics/{{proj_name}}/create" method="post" enctype="multipart/form-data">
                Name: <input type="text" name="iden" />
                (Optional) Select a file: <input type="file" name="upload" />
                <input type="submit" value="New" />
            </form>
        </p>
    </div>
</div>
<div class="pure-g-r">
    <div class="pure-u-1">
        <p><small>Welcome user: {{uid}}</small></p>
    </div>
</div>
%rebase base.tmpl title='Suricate - Project'