<div class="pure-g-r">
    <div class="pure-u-1">
        <h1 class="analytics">
            <a href="/analytics">Analytics</a> / {{proj_name}}
        </h1>
    </div>
</div>
<div class="pure-g-r">
    % for iden in notebooks:
        <div class="pure-u-1-6">
            <div class="tile">
                <h2><a href="/analytics/{{proj_name}}/{{iden}}">{{iden}}</a></h2>
                <form action="/analytics/{{proj_name}}/{{iden}}/delete" method="post">
                    <input type="submit" value="Delete" onClick="return confirm('Sure?')"/>
                </form>
                <form action="/analytics/{{proj_name}}/{{iden}}/download" method="post">
                    <input type="submit" value="Download" />
                </form>
            </div>
        </div>
    % end
</div>
<div class="pure-g-r">
    <div class="pure-u-1">
        <p>
            <form action="/analytics/{{proj_name}}/create" method="post" enctype="multipart/form-data">
                Name: <input type="text" name="iden" />
                (Optional) Select a file: <input type="file" name="upload" />
                <input type="submit" value="New" />
            </form>
        </p>
    </div>
</div>
<div class="pure-g-r">
    <div class="pure-u-1">
        <p><small>Welcome user: {{uid}}</small></p>
    </div>
</div>
%rebase base.tmpl title='Suricate - Project'