<div class="pure-g-r">
    <div class="pure-u-1">
        <h1 class="analytics">Analytics</h1>
    </div>
</div>
<div class="pure-g-r">
    % i = 0
    % for iden in projects:
        <div class="pure-u-1-4">
            <div class="tile">
                <h3><a href="/analytics/{{iden}}">{{iden}}</a></h3>
                <form action="/analytics/{{iden}}/delete" method="post">
                    <input type="submit" value="Delete" onClick="return confirm('Sure?')"/>
                </form>
            </div>
        </div>
        % i += 1
        % if i > 3:
        % i = 0
</div>
<div class="pure-g-r">
        % end
    % end
</div>
<div class="pure-g-r">
    <div class="pure-u-1">
        <p>
            <form action="/analytics/create" method="post" enctype="multipart/form-data">
                Name: <input type="text" name="proj_name">
                <input type="submit" value="New" />
            </form>
        </p>
    </div>
</div>
<div class="pure-g-r">
    <div class="pure-u-1">
        <p><small>Welcome user: {{uid}}</small></p>
    </div>
</div>
%rebase base.tmpl title='Suricate - Projects'