body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: source-sans-pro, sans-serif;
}
body {
    font-size: 1em;
    background: #fefefe;
    color: #444;
}
/* menu */
.pure-menu {
    border-bottom: 1px solid #ddd;
    height: 2.4em;
    background: #444;
}
/* content */
#content {
    margin: 2em;
}
input {
    margin: 0.1em 0 0.1em 0;
}
form {
    font-size: 0.9em;
    margin: 0;
}
/* tables */
.mytable {
    text-align: left;
    border: 0px;
}
.mytable tr {
    border-bottom: 1px solid #ccc;
}
.mytable td,th {
    padding: 0.3em;
}
/* output */
.outputs {
    padding: 0.3em;
}
.outputs>div {
    padding: 0.3em;
    margin: 0.3em;
}
.error {
    white-space: pre-wrap;
    border-left: 2px solid #d00;
}
.code {
    background: #eee;
    box-shadow: 1px 1px 3px #ccc;
}
code {
    font-size: 0.9em;
    white-space: pre-wrap;
}
/* colors */
.home {
    color: #ffb400;
}
.data {
    color: #00bfff;
}
.analytics {
    color: #60c52d;
}
.analyticsborder {
    border-left: 2px solid #60c52d;
}
/* fonts */
h1, h2, h3 {
    margin-top: 0;
    line-height: 1em;
    font-weight: normal;
}
h1>a {
    color: #444;
}
h2>a {
    color: #fff;
    text-decoration: none;
}
h3>a {
    font-size: 1.0em;
    color: #444;
    text-decoration: none;
}
h2>a:hover {
    color: #444;
}
a {
    text-decoration: none;
}