body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: source-sans-pro, sans-serif;
}
body {
    font-size: 1em;
    background: #fefefe;
    color: #444;
}
#layout {
    padding-left: 150px;
}
/* menu */
#menu {
    margin-left: -150px; /* this should be "#menu" width */
    width: 150px;
    position: fixed;
    top: 0;
    left: 150px; /* this should be "#menu" width */
    bottom: 0;
    overflow-y: auto;
    background: #222;
    box-shadow: 1px 1px 20px -2px #ccc;
}
.menu-link {
    display: none;
    top: 0;
    left: 150px;
    background: #222;
    font-size: 1.1em;
    color: #fff;
    padding: 0.3em;
    z-index: 1;
}
#menu .pure-menu, #menu .pure-menu ul {
    border: none;
    background: transparent;
}
#menu a:hover {
    background: #444;
}
/* content */
#content {
    margin: 2.4em;
}
input {
    margin: 0.3em 0 0.3em 0;
}
form {
    font-size: 0.9em;
}
/* tables */
.mytable {
    text-align: left;
    border: 0px;
}
.mytable tr {
    border-bottom: 1px solid #ccc;
}
.mytable td,th {
    padding: 0.3em;
}
/* output */
.outputs {
    padding: 0.3em;
}
.outputs>div {
    padding: 0.3em;
    margin: 0.3em;
}
.error {
    white-space: pre-wrap;
    border-left: 2px solid #d00;
}
.code {
    background: #eee;
    box-shadow: 1px 1px 3px #ccc;
}
code {
    font-size: 0.9em;
    white-space: pre-wrap;
}
/* colors */
.home {
    color: #ffb400;
}
.data {
    color: #00bfff;
}
.analytics {
    color: #60c52d;
}
.analyticsborder {
    border-left: 2px solid #60c52d;
}
/* fonts */
h1, h2, h3 {
    margin-top: 0;
    line-height: 1em;
    font-weight: normal;
}
h1>a {
    color: #444;
}
h2>a {
    color: #fff;
    text-decoration: none;
}
h3>a {
    font-size: 1.0em;
    color: #444;
    text-decoration: none;
}
h2>a:hover {
    color: #444;
}
a {
    text-decoration: none;
}
/* for small screens */
@media (max-width: 767px) {
    .header {
        text-align: left;
    }
    #layout {
        position: relative;
        padding-left: 0;
    }
    #layout.active {
        position: relative;
        left: 150px;
    }
    #layout.active #menu {
        left: 150px;
        width: 150px;
    }
    #menu {
        left: 0;
    }
    .menu-link {
        position: fixed;
        left: 0;
        display: block;
    }
    #layout.active .menu-link {
        left: 150px;
    }
}