<h1 class="data">Object: {{iden}}</h1>
<div class="code">
    <code>{{content}}</code>
</div>
<p>
    <form action="/data/object/delete/{{iden}}" method="post">
        <input type="submit" value="Delete" onClick="return confirm('Sure?')"/>
    </form>
</p>
<p><small>Welcome user: {{uid}}</small></p>
%rebase base.tmpl title='Suricate - Data Object'