<div class="header">
    <ul class="menu">
        <li class="bgred"><a href="/">Home</a></li>
        <li class="bgblue"><a href="/data">Data</a></li>
        <li class="bggreen"><a href="/analytics">Analytics</a></li>
        <li class="bgyellow"><a href="/process">Processing</a></li>
    </ul>
</div>
<div class="content">
    <h3>Stream: {{iden}}</h3>
    <p>
        <strong>Connected:</strong> {{uri}}
        <br />
        <strong>Queue:</strong> {{queue}}
    </p>
    <p>
        Number of messages received in the last minute: {{val}}
    </p>
    % for item in msgs:
    <div class="code">
        <code>{{item}}</code>
    </div>
    % end
    <p>
        <form action="/data/stream/delete/{{iden}}" method="post">
            <input type="submit" value="Delete" onClick="return confirm('Sure?')"/>
        </form>
    </p>
    <p><small>Welcome user: {{uid}}</small></p>
</div>
%rebase base.tmpl title='Suricate - Data'