<div class="header">
    <ul class="menu">
        <li class="bgred"><a href="/">Home</a></li>
        <li class="bgblue"><a href="/data">Data</a></li>
        <li class="bggreen"><a href="/analytics">Analytics</a></li>
        <li class="bgyellow"><a href="/process">Processing</a></li>
    </ul>
</div>
<div class="content">
    <h3>Object: {{iden}}</h3>
    <div class="code">
    <code>{{content}}</code>
    </div>
    <p>
        <form action="/data/delete/{{iden}}" method="post">
            <input type="submit" value="Delete" onClick="return confirm('Sure?')"/>
        </form>
    </p>
    <p><small>Welcome user: {{uid}}</small></p>
</div>
%rebase base.tmpl title='Suricate - Data'