<div class="header">
    <ul class="menu">
        <li class="bgred"><a href="/">Home</a></li>
        <li class="bgblue"><a href="/data">Data</a></li>
        <li class="bggreen"><a href="/analytics">Analytics</a></li>
        <li class="bgyellow"><a href="/process">Processing</a></li>
    </ul>
</div>
<div class="content">
    <h3>Objects</h3>
    <ul>
    % for obj in data_objs:
        <li><a href="/data/{{obj}}">{{obj}}</a></li>
    % end
    </ul>
    <p>
        <form action="/data/upload" method="post" enctype="multipart/form-data">
            Select a file: <input type="file" name="upload" />
            <input type="submit" value="Start upload" />
        </form>
    </p>
    <h3>Streams</h3>
    <p>AMQP streams coming soon</p>
    <p><small>Welcome user: {{uid}}</small></p>
</div>
%rebase base.tmpl title='Suricate - Data'