<div class="header">
    <ul class="menu">
        <li class="bgred"><a href="/">Home</a></li>
        <li class="bgblue"><a href="/data">Data</a></li>
        <li class="bggreen"><a href="/analytics">Analytics</a></li>
        <li class="bgyellow"><a href="/processing">Processing</a></li>
    </ul>
</div>
<div class="content">
    <h3>Edit</h3>
    <p>
        <form action="/{{name}}/{{url}}/edit/{{line_id}}" method="get">
            <textarea name="cmd" rows="5" cols="100">{{old[0]}}</textarea>
            <br/>
            <input type="submit" name="save" value="save">
        </form>
    </p>
    <p><small>Welcome user: {{uid}}</small></p>
</div>
%rebase base.tmpl title='Suricate - Data Source'