<h1 class="analytics">Welcome to Suricate</h1>
<h2 class="data">Analytics Service</h2>
<!--
<p>
    <strong>Suricate</strong> is an analytics service which helps you - a
    Data Scientist - explore your data, analyse it and create models. Than
    it allows you to act upon the models/insight you have gained. Suricate
    is offered to you as a service with support for uploading and streaming
    data and gives you easy access to compute power for fast data computation
    and visualization in the cloud.
</p>
<p>
    The following three sections let you deal with the Data you are working
    with. The Analysis you can do and the processing and acting upon gained
    insight:
</p>-->
<div class="pure-g-r">
    <div class="pure-u-1-3">
        <div class="box bgblue">
            <h2><a href="/data">Data</a></h2>
            <strong>Aggregate</strong>: Stream or upload data!
        </div>
    </div>
    <div class="pure-u-1-3">
        <div class="box bggreen">
            <h2><a href="/analytics">Analytics</a></h2>
            <strong>Interact & Compute</strong>: analyse data and create models!
        </div>
    </div>
    <div class="pure-u-1-3">
        <div class="box bgyellow">
            <h2><a href="/processing">Processing</a></h2>
            <strong>Act</strong>: Process the models to be agile!
        </div>
    </div>
</div>
<p><small>Welcome user: {{uid}}</small></p>
%rebase base.tmpl title='Suricate - Home'