<div class="centercontent">
    <div class="abscenter">
        <h1>Suricate</h1>
        <h2>Analytics as a Service</h2>
        <div class="divboxes">
            <div class="cell bgblue">
                <a href="/data">Data Sources</a>
                <p>Stream or Upload Data!</p>
            </div>
            <div class="sep"></div>
            <div class="cell bggreen">
                <a href="/analysis">Analysis</a>
                <p>Analyse Data and Create Models!</p>
            </div>
            <div class="sep"></div>
            <div class="cell bgyellow">
                <a href="/process">Processing</a>
                <p>Process the Models to be Agile!</p>
            </div>
            <div class="sep"></div>
        </div>
        <p><small>Welcome user: {{uid}}</small></p>
    </div>
</div>
%rebase base.tmpl title='Suricate - Home'