<div class="centercontent">
    <div class="abscenter">
        <h1>Suricate</h1>
        <h2>Analytics as a Service</h2>
        <div class="divboxes">
            <div class="cell bgblue">
                <a href="/data">Data</a>
                <p><strong>Aggregate</strong>: Stream or upload data!</p>
            </div>
            <div class="sep"></div>
            <div class="cell bggreen">
                <a href="/analytics">Analytics</a>
                <p><strong>Interact & Compute</strong>: analyse data and
                create models!</p>
            </div>
            <div class="sep"></div>
            <div class="cell bgyellow">
                <a href="/process">Processing</a>
                <p><strong>Act</strong>: Process the models to be agile!</p>
            </div>
            <div class="sep"></div>
        </div>
        <p><small>Welcome user: {{uid}}</small></p>
    </div>
</div>
%rebase base.tmpl title='Suricate - Home'