<h1 class="{{ntb_type}}">Notebook: {{iden}}</h1>
% for k in output:
<div class="pure-g-r">
    <div class="pure-u-1-12 left">
        <form action="/{{ntb_type}}/{{iden}}/remove/{{k}}" method="post">
            <input type="submit" value="delete">
        </form>
        <form action="/{{ntb_type}}/{{iden}}/edit/{{k}}" method="get">
            <input type="submit" value="edit">
        </form>
    </div>
    <div class="pure-u-11-12 right">
        % if output[k][0].lstrip()[:1] == '#':
        <p>{{output[k][0].lstrip()[1:]}}</p>
        % else:
        <div class="code">{{output[k][0].lstrip()}}</div>
        % end
        % if output[k][1][:4] == 'data':
        <img src="{{output[k][1]}}"/>
        % elif output[k][1][:4] == 'd3js':
        <div>{{!output[k][1][5:]}}</div>
        % elif output[k][1].strip() != '':
        <div class="output">{{output[k][1].rstrip()}}</div>
        % end
    </div>
</div>
% end
<div class="pure-g-r">
    <div class="pure-u-1-12 left">
    </div>
    <div class="pure-u-11-12 right">
        % if len(output) > 0:
        <form action="/{{ntb_type}}/{{iden}}/add/{{k}}" method="post">
        % else:
        <form action="/{{ntb_type}}/{{iden}}/add/1" method="post">
        % end
            <input type="hidden" name="indent" value="{{indent}}">
            <input id="cmd" value="{{indent}}" autofocus="autofocus" type="text" size="100%" name="cmd">
        </form>
    </div>
</div>
<form action="/{{ntb_type}}/rerun/{{iden}}" method="POST">
    <input type="submit" value="Rerun">
</form>
<form action="/{{ntb_type}}/download/{{iden}}" method="GET">
    <input type="submit" value="Download">
</form>
<form action="/{{ntb_type}}/delete/{{iden}}" method="POST">
    <input type="submit" value="Delete" onClick="return confirm('Sure?')"/>
</form>
<p><small>Welcome user: {{uid}}</small></p>
%rebase base.tmpl title='Suricate - Notebook'