<h1 class="{{ntb_type}}">{{ntb_type}} - Notebooks</h1>
<ul>
% for ntb in notebooks:
    <li class="{{ntb_type}}"><a href="/{{ntb_type}}/{{ntb}}">{{ntb}}</a></li>
% end
</ul>
<form action="/{{ntb_type}}/upload" method="post" enctype="multipart/form-data">
    Name: <input type="text" name="iden" />
    (Optional) Select a file: <input type="file" name="upload" />
    <input type="submit" value="New" />
</form>
<p><small>Welcome user: {{uid}}</small></p>
%rebase base.tmpl title='Suricate - Notebooks'