<h1 class="{{name}}">{{name}} - Notebooks</h1>
<ul>
% for ntb in notebooks:
    <li class="{{name}}"><a href="/{{name}}/{{ntb}}">{{ntb}}</a></li>
% end
</ul>
<form action="/{{name}}/upload" method="post" enctype="multipart/form-data">
    Name: <input type="text" name="iden" />
    (Optional) Select a file: <input type="file" name="upload" />
    <input type="submit" value="New" />
</form>
<p><small>Welcome user: {{uid}}</small></p>
%rebase base.tmpl title='Suricate - Notebooks'