<div class="header">
    <ul class="menu">
        <li class="bgred"><a href="/">Home</a></li>
        <li class="bgblue"><a href="/data">Data Sources</a></li>
        <li class="bggreen"><a href="/analysis">Analysis</a></li>
        <li class="bgyellow"><a href="/process">Processing</a></li>
    </ul>
</div>
<div class="content">
    <h3>Processing</h3>
    <p>
        Soon here you will be able create your agile systems/strategies for your
        system by loading the previously learned models,
        compare those to incoming data streams and then decide.
    </p>
    <p><small>Welcome user: {{uid}}</small></p>
</div>
%rebase base.tmpl title='Suricate - Processing'