<div class="pure-g-r">
    <div class="pure-u-1">
        <h1 class="data">
            <a href="/data">Objects</a> / {{obj_name}}
        </h1>
    </div>
</div>
<div class="pure-g-r">
    <div class="pure-u-1">
        <div class="outputs">
            <div class="code">
                <code>{{content}}</code>
            </div>
        </div>
    </div>
</div>
<div class="pure-g-r">
    <div class="pure-u-1">
        <p><small>Welcome user: {{uid}}</small></p>
    </div>
</div>
%rebase base.tmpl title='Suricate - Data Object'