<div class="pure-g">
    <div class="pure-u-1">
        <h1 class="home">Suricate: Open Analytics Service & Data Science Platform</h2>
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-1">
        <p>
            <strong>Suricate</strong> is an analytics service which helps you - a
            Data Scientist - explore your data, analyse it and create models. Than
            it allows you to act upon the models/insight you have gained. Suricate
            is offered to you as a service with support for uploading and streaming
            data and gives you easy access to compute power for fast data computation
            and visualization in the cloud.
        </p>
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-1">
        <h1 class="Analytics">Jobs</h1>
        % if len(jobs) > 0:
        <p>
            <table class="mytable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Project</th>
                        <th>Notebook</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                    % for item in jobs:
                    <tr>
                        <td>{{item}}</td>
                        <td><a href="/analytics/{{jobs[item]['project']}}">{{jobs[item]['project']}}</a></td>
                        <td><a href="/analytics/{{jobs[item]['project']}}/{{jobs[item]['ntb_id']}}">{{jobs[item]['ntb_name']}}</a></td>
                        <td>{{jobs[item]['state']}}</td>
                    </tr>
                    % end
                </tbody>
            </table>
        </p>
        <p>
            <form action="/analytics/clear" method="post">
                <input type="submit" value="Clear" />
            </form>
        </p>
        % else:
        <p>No Jobs found</p>
        % end
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-1">
        <p><small>Welcome user: {{uid}}</small></p>
    </div>
</div>
%rebase base.tmpl title='Suricate - Home'