<div class="pure-g">
    <div class="pure-u-1">
        <h1 class="analytics">Projects</h1>
    </div>
</div>
<table class="mytable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        % for iden in projects:
            <tr>
                <td>
                    <a class="field-container" href="/analytics/{{iden}}">{{iden}}</a>
                </td>
                <td>
                    <form class="field-container" action="/analytics/{{iden}}/delete" method="post">
                        <input type="submit" value="Delete" onClick="return confirm('Sure?')"/>
                    </form>
                </td>
            </div>
        % end
    </tbody>
</table>
<div class="pure-g">
    <div class="pure-u-1">
        <p>
            <form action="/analytics/create" method="post" enctype="multipart/form-data">
                Name: <input type="text" name="proj_name">
                <input type="submit" value="New" />
            </form>
        </p>
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-1">
        <p><small>Welcome user: {{uid}}</small></p>
    </div>
</div>
%rebase base.tmpl title='Suricate - Projects'